.header-logo {
    font-family: Raleway, sans-serif;
  }


a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

/* header */

.container {
    display: flex;
    margin-bottom: 25px;
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.benefits-box {
    align-items: center;
    justify-content: center;
}

.hero-bg {
    margin-bottom: 120px;
}



.header-navigator {
    margin-right: auto;
    align-items: center;
}



.header-logo {
    margin-right: 470px;
}

.header-menu-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
    
}

.header-menu-item {
font-weight: 400;
font-size: 12px;
line-height: 1.7;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #fff;
align-items: center;
justify-content: center;
}

.nav-link {
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.hero {

}

.hero-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 51px; 
    line-height: 1.02;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.benefits {
    display: flex;
    gap: 20px;
}

.team-box {
    padding: 32px 0;
}

.benefits-subtitle {
    margin-bottom: 8px;
}

   

.benefits-title {
    margin-bottom: 60px;
}


.benefits-list {
display: flex;
    gap: 24px;
    flex-wrap: wrap;
}


.team-bth {
    padding: 32px 0;
}